{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".tsx"]
    }],
    "import/extensions": ["error", "ignorePackages", {
      "ts": "never",
      "tsx": "never"
    }],
    "@typescript-eslint/no-unused-vars": "error",
    "react/jsx-props-no-spreading": "off",
    "global-require": "off",
    "import/prefer-default-export": "off",
    "react/no-array-index-key": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "max-len": ["error", {
      "code": 120
    }],
    "react/require-default-props": "off",
    "import/no-unresolved": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "ignorePatterns": [
    "src/components/Icons/*",
    "src/components/Logo/*",
    "src/components/Logos/*"
  ]
}
