.headerContent {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;

  &.active {
    background-color: var(--c-light);
    display: block;
    height: 100%;
    left: 0;
    margin-top: 2rem;
    padding: var(--s-none) 1.5rem;
    position: fixed;
    right: 0;
    z-index: 2;

    @media (min-width: 1024px) {
      margin-top: 3rem;
    }
  }

  @media (min-width: 1024px) {
    display: block;
    margin-top: 3rem;

    &.active {
      height: auto;
      padding: var(--s-none);
      position: static;
    }
  }
}
